.movie-item-wrapper {
    min-width: 240px;
    margin: 10px;
    position: relative;
    height: inherit;
    border-radius: 10px;
    overflow: hidden;
    color: #ffffff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #df3c3c;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 1.2px;
    cursor: pointer;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button.close {
    background-color: black;
}

.movie-item-wrapper .small-movie-item.inactive {
    pointer-events: none !important;
}

.movie-item-wrapper .small-movie-item h2 {
    position: relative;
    z-index: 3;
    margin: 0;
}

.movie-item-wrapper .small-movie-item p {
    position: relative;
    max-height: 38px;
    overflow: hidden;
    z-index: 3;
    margin: 10px 0;
}

.movie-item-wrapper .small-movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.movie-item-wrapper .small-movie-item .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    transition: 0.3s ease;
}

.movie-item-wrapper:hover .small-movie-item .overlay {
    background-color: rgba(0,0,0,0);
}

/* Large movie item */

.movie-item-wrapper .large-movie-item {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: 0.3s ease;
}

.movie-item-wrapper .large-movie-item.active-movie {
    opacity: 1;
    pointer-events: all;
}

.movie-item-wrapper .large-movie-item .movie-item {
    width: 100%;
    max-width: 600px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
    padding-bottom: 1rem;
}

.movie-item-wrapper .large-movie-item .movie-item img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.movie-item-wrapper .large-movie-item .movie-item p {
    padding-bottom: 0.8rem !important;
}

.movie-item-wrapper .large-movie-item .movie-item *:not(img) {
    padding: 0 2rem;
}

.movie-item-wrapper .large-movie-item .movie-item button {
    background: black;
    border: none;
    outline: none;
    color: white;
    margin: 1rem;
    cursor: pointer;
}

.movie-item-wrapper .large-movie-item .movie-item button.watch {
    background: #df3c3c;
}

.movie-item .button-wrapper {
    justify-content: center;
    margin-top: 0;
}

.vote {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-style: italic;
}

@media screen and (max-width: 450px) {
    .movie-item-wrapper .large-movie-item .movie-item {
        height: 100vh;
    }
}